body {
    background-color: black;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}

@font-face {
    font-family: "Nunito Sans";
    src: url(fonts/static/NunitoSans_10pt-Regular.ttf);
}

@font-face {
    font-family: "Yeseva One";
    src: url(fonts/yaseva/YesevaOne-Regular.ttf)
}

.room_names {
    color: white;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 610px;
    top: 130px;
}

.rooms {
    margin-right: 30px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.content {
    margin: 176px 135px 125px 135px;
    width: 1100px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 600px;
}

.content-discription_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    position: relative;
    bottom: 25px;

color: #FFFFFF;
}

.content-discription {
    width: 45%;
}

.content-title {
    position: relative;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    bottom: 20px;
}

.content-title::after {
    position: relative;
    content: url(images/line.svg);
    width: 32px;
    height: 1.54px;
    left: 35px;
    bottom: 8px;
}

.discription-blocks {
    position: relative;
    display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.discription-blocks span {
	box-sizing: border-box;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-left: 20px;
}

.discription-block {
    display: flex;
    width: 90%;
    margin-top: 20px;
    justify-content: space-between;
    line-height: 20px;
}

.discr-unit {
    width: 50%;
    height: 50%;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    padding-right: 80px;
    
}

.discr-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    line-height: 10px;
}

.discr-text_right {
    display: flex;
    position: relative;
    padding-right: 0px;
}

.divv {
    position: relative;
    padding-right: 30px;
    right: 15px;
}

.buttons {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    position: relative;
    top: 55px;
    font-size: 30px;
}

.slider {
    position: relative;
    height: 480px;
    width: 2600px;
    left :0;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease 1s;
    font-size: 0;
}

.content-picture {
    display: flex;
    flex-direction: column;
    /*background-image: url(images/image1.png);*/
    width: 650px;
    height: 480px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.image {
    width: 650px;
    background-size: contain;
    background-repeat: no-repeat;
}

.button-left:hover {
    color: white;
    cursor: pointer;
}

.button-right:hover {
    color: white;
    cursor: pointer;
}

  button {
    background-color: black;
  }

  .buttons-arrows {
    color: white;
    font-size: 25px;
    border-radius: 99%;
    border-color: #E3B873;
  }

  .rooms-style {
    position: relative;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 10px;
    transition: background-color 0.6s ease;
  }

  .dots {
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    position: relative;
    font-size: 50px;
    top: 12px;
    left: 33px;
  }

  .button-dot {
    cursor: pointer;
    transition: background-color 0.6s ease;
  }

  .active, button-dot:hover{
    color: #E3B873;
    transition: background-color 0.6s ease;
  }